# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.env.*

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test and coverage
.coverage
coverage.xml
htmlcov/
test-results/

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# Node
node_modules/

tests/JN/*.json
tests/JN/*.env

AuthKey_T6FSDYTV6W.p8
test.py