# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# Test outputs
converted_font.*
*.converted
test_output/
fonts_output/

# Font files
*.ttf
*.otf
*.woff
*.woff2
*.eot
*.svg
*.pfa
*.pfb
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Project specific
dist/
.env
tutorial
indox_client.egg-info
/*/indox_client.egg-info
*/*/indox_client.egg-info
src/indox_client.egg-info